fastapi
uvicorn[standard]
tabula-py
httpx
aiofiles
pydantic
python-multipart
ics
git+https://github.com/bezidev/gimsisapi
git+https://github.com/bezidev/lopolis-api
git+https://github.com/bezidev/RingoAPI
sqlalchemy
asyncpg
bcrypt
pycryptodome
emoji
JPype1
